name: continuous-deployment

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: | 
          cd RescueHubProject
          chmod +x gradlew
      - name: Build with Gradle
        run: |
          cd RescueHubProject
          ./gradlew bootJar
      - name: Log in to Azure Container Registry
      - uses: azure/docker-login@v1
        with:
          login-server: <myContainerRegistry>.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - name: Build and push Docker image
        run: |
          cd RescueHubProject
          docker build -t rescuehub.azurecr.io/my-app:${{ github.sha }} .
          docker push rescuehub.azurecr.io/my-app:${{ github.sha }}
      - name: Deploy to Azure App Service
      - uses: azure/webapps-deploy@v2
        with:
          app-name: RescueHubApp
          slot-name: production
          images: rescuehub.azurecr.io/my-app:${{ github.sha }}

