name: continuous-integration

on:
  pull_request:
    branches:
      - develop
      - "!main"
  workflow_dispatch:

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: | 
          cd RescueHubProject
          chmod +x gradlew
      - name: Build with Gradle
        run: |
          cd RescueHubProject
          ./gradlew build
      - name: Test with Gradle
        run: |
          cd RescueHubProject
          ./gradlew test
